// out: ../css/styles.css, sourcemap: true, compress: true

#ensigna-preloader{
    position: fixed;
    z-index: 9999999;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: #000;
}

.stitches-ensigna(@x: 0, @y: 0, @width: 0, @height: 0) {
    background-position: @x @y;
    width: @width;
    height: @height;
}

.ensigna {
    background-image: url(../img/ensigna.png);    background-repeat: no-repeat;
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    width: 500px;
    height: 280px;



    &.ensigna-ensigna_00000 {
        .stitches-ensigna(-5px, -5px, 500px, 280px);
    }

    &.ensigna-ensigna_00001 {
        .stitches-ensigna(-5px, -295px, 500px, 280px);
    }

    &.ensigna-ensigna_00002 {
        .stitches-ensigna(-5px, -585px, 500px, 280px);
    }

    &.ensigna-ensigna_00003 {
        .stitches-ensigna(-5px, -875px, 500px, 280px);
    }

    &.ensigna-ensigna_00004 {
        .stitches-ensigna(-5px, -1165px, 500px, 280px);
    }

    &.ensigna-ensigna_00005 {
        .stitches-ensigna(-5px, -1455px, 500px, 280px);
    }

    &.ensigna-ensigna_00006 {
        .stitches-ensigna(-5px, -1745px, 500px, 280px);
    }

    &.ensigna-ensigna_00007 {
        .stitches-ensigna(-5px, -2035px, 500px, 280px);
    }

    &.ensigna-ensigna_00008 {
        .stitches-ensigna(-5px, -2325px, 500px, 280px);
    }

    &.ensigna-ensigna_00009 {
        .stitches-ensigna(-5px, -2615px, 500px, 280px);
    }

    &.ensigna-ensigna_00010 {
        .stitches-ensigna(-5px, -2905px, 500px, 280px);
    }

    &.ensigna-ensigna_00011 {
        .stitches-ensigna(-5px, -3195px, 500px, 280px);
    }

    &.ensigna-ensigna_00012 {
        .stitches-ensigna(-5px, -3485px, 500px, 280px);
    }

    &.ensigna-ensigna_00013 {
        .stitches-ensigna(-5px, -3775px, 500px, 280px);
    }

    &.ensigna-ensigna_00014 {
        .stitches-ensigna(-5px, -4065px, 500px, 280px);
    }

    &.ensigna-ensigna_00015 {
        .stitches-ensigna(-5px, -4355px, 500px, 280px);
    }

    &.ensigna-ensigna_00016 {
        .stitches-ensigna(-5px, -4645px, 500px, 280px);
    }

    &.ensigna-ensigna_00017 {
        .stitches-ensigna(-5px, -4935px, 500px, 280px);
    }

    &.ensigna-ensigna_00018 {
        .stitches-ensigna(-5px, -5225px, 500px, 280px);
    }

    &.ensigna-ensigna_00019 {
        .stitches-ensigna(-5px, -5515px, 500px, 280px);
    }

    &.ensigna-ensigna_00020 {
        .stitches-ensigna(-5px, -5805px, 500px, 280px);
    }

    &.ensigna-ensigna_00021 {
        .stitches-ensigna(-5px, -6095px, 500px, 280px);
    }

    &.ensigna-ensigna_00022 {
        .stitches-ensigna(-5px, -6385px, 500px, 280px);
    }

    &.ensigna-ensigna_00023 {
        .stitches-ensigna(-5px, -6675px, 500px, 280px);
    }

    &.ensigna-ensigna_00024 {
        .stitches-ensigna(-5px, -6965px, 500px, 280px);
    }

    &.ensigna-ensigna_00025 {
        .stitches-ensigna(-5px, -7255px, 500px, 280px);
    }

    &.ensigna-ensigna_00026 {
        .stitches-ensigna(-5px, -7545px, 500px, 280px);
    }

    &.ensigna-ensigna_00027 {
        .stitches-ensigna(-5px, -7835px, 500px, 280px);
    }

    &.ensigna-ensigna_00028 {
        .stitches-ensigna(-5px, -8125px, 500px, 280px);
    }

    &.ensigna-ensigna_00029 {
        .stitches-ensigna(-5px, -8415px, 500px, 280px);
    }

    &.ensigna-ensigna_00030 {
        .stitches-ensigna(-5px, -8705px, 500px, 280px);
    }

    &.ensigna-ensigna_00031 {
        .stitches-ensigna(-5px, -8995px, 500px, 280px);
    }

    &.ensigna-ensigna_00032 {
        .stitches-ensigna(-5px, -9285px, 500px, 280px);
    }

    &.ensigna-ensigna_00033 {
        .stitches-ensigna(-5px, -9575px, 500px, 280px);
    }

    &.ensigna-ensigna_00034 {
        .stitches-ensigna(-5px, -9865px, 500px, 280px);
    }

    &.ensigna-ensigna_00035 {
        .stitches-ensigna(-5px, -10155px, 500px, 280px);
    }

    &.ensigna-ensigna_00036 {
        .stitches-ensigna(-5px, -10445px, 500px, 280px);
    }

    &.ensigna-ensigna_00037 {
        .stitches-ensigna(-5px, -10735px, 500px, 280px);
    }

    &.ensigna-ensigna_00038 {
        .stitches-ensigna(-5px, -11025px, 500px, 280px);
    }

    &.ensigna-ensigna_00039 {
        .stitches-ensigna(-5px, -11315px, 500px, 280px);
    }

    &.ensigna-ensigna_00040 {
        .stitches-ensigna(-5px, -11605px, 500px, 280px);
    }

    &.ensigna-ensigna_00041 {
        .stitches-ensigna(-5px, -11895px, 500px, 280px);
    }

    &.ensigna-ensigna_00042 {
        .stitches-ensigna(-5px, -12185px, 500px, 280px);
    }

    &.ensigna-ensigna_00043 {
        .stitches-ensigna(-5px, -12475px, 500px, 280px);
    }

    &.ensigna-ensigna_00044 {
        .stitches-ensigna(-5px, -12765px, 500px, 280px);
    }

    &.ensigna-ensigna_00045 {
        .stitches-ensigna(-5px, -13055px, 500px, 280px);
    }

    &.ensigna-ensigna_00046 {
        .stitches-ensigna(-5px, -13345px, 500px, 280px);
    }

    &.ensigna-ensigna_00047 {
        .stitches-ensigna(-5px, -13635px, 500px, 280px);
    }

    &.ensigna-ensigna_00048 {
        .stitches-ensigna(-5px, -13925px, 500px, 280px);
    }

    &.ensigna-ensigna_00049 {
        .stitches-ensigna(-5px, -14215px, 500px, 280px);
    }

    &.ensigna-ensigna_00050 {
        .stitches-ensigna(-5px, -14505px, 500px, 280px);
    }

    &.ensigna-ensigna_00051 {
        .stitches-ensigna(-5px, -14795px, 500px, 280px);
    }

    &.ensigna-ensigna_00052 {
        .stitches-ensigna(-5px, -15085px, 500px, 280px);
    }

    &.ensigna-ensigna_00053 {
        .stitches-ensigna(-5px, -15375px, 500px, 280px);
    }

    &.ensigna-ensigna_00054 {
        .stitches-ensigna(-5px, -15665px, 500px, 280px);
    }

    &.ensigna-ensigna_00055 {
        .stitches-ensigna(-5px, -15955px, 500px, 280px);
    }

    &.ensigna-ensigna_00056 {
        .stitches-ensigna(-5px, -16245px, 500px, 280px);
    }

    &.ensigna-ensigna_00057 {
        .stitches-ensigna(-5px, -16535px, 500px, 280px);
    }

    &.ensigna-ensigna_00058 {
        .stitches-ensigna(-5px, -16825px, 500px, 280px);
    }

    &.ensigna-ensigna_00059 {
        .stitches-ensigna(-5px, -17115px, 500px, 280px);
    }

    span{
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        display: inline;
        text-align: center;
        color: #6a6a6a;
        &:after{
            content : '%';
        }
    }

}


#headline {
    position: absolute;
    height: 100vh;
    width: 100vw;
    display: block;
    z-index: 999;
    pointer-events: none;
    .image-headline{
        position: absolute;;
        z-index: 999;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        background-image: url(../img/Headline.png);    background-repeat: no-repeat;
        width: 800px;
        height: 580px;
        margin: auto;

        @media screen and (max-width: 767px){
            background-size: contain;
            background-position: center;
            width: 100%;
            height: auto;
        }
    }
}

#particles-js {
    position: absolute;
    width: 100vw;
    height: 100vh;
    z-index: 1;
    display: block;
    canvas{
        width: 100vw!important;
        height: 100vh!important;
    }
}

.scroll-down{
    z-index: 1000!important;
}


#mobile-caution{
    display: none;
    position: fixed;
    z-index: 9999999;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: #000;
    color: #fff;
    padding: 10%;
    font-size: 24px;
    background-size: cover;
    background-position: bottom center;
    @media screen and (max-width: 480px)

    {
        display: block;
    }
}


#about-me,#ilove2code,#iguessitsyou,#whatsnext,#thingsido,#hiremeif{
    // width: 100vw!important;
    // height: 100vh!important;
    background: #fff;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    .title{
        color: #340329;
        line-height: 10rem;
        font-size: 10rem;
    }

    .desc{
        color: #340329;
    }
}
